<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIdentifier</key>
	<string>com.plexapp.agents.AdultScraperSE</string>	
	<key>PlexFrameworkVersion</key>
	<string>2</string>
	<key>PlexPluginClass</key>
	<string>Agent</string>
	<key>PlexPluginMode</key>
	<string>AlwaysOn</string>
	<key>PlexPluginCodePolicy</key>
	<string>Elevated</string>
	<key>PlexAgentAttributionText</key>
	<string>
	<![CDATA[
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
AdultScraperSE (V 2.1.1) <br/><br/>
&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;
AdultScraperSE 是一个可以匹配成人影片信息的插件(不提供任何影片下载与观看连接)，仅提供简介、演员、标题、类型、系列、导演、
工作室的信息匹配。<br/><br/>
使用帮助：<br/>
本地字幕挂载：<br/>
需要在代理中勾选：Local Media Assets (Movies)<br/>
<br/>
plex欧美日本搜刮设置： <br/>
欧美与日本的搜刮区分要使用语言控制:<br/>
日本选择:日本语言<br/>
欧美选择:English<br/>
<br/>
命名规范：<br/>
日本<br/>
xxx-000.mp4  <br/>
日本动漫<br/>
xxx-000.mp4  <br/>
xxxxxxxxxxxx.mp4  <br/>
欧美<br/>
工作室 - 片名 - 明星（可以包含多个）.mp4  <br/>
<br/>
同片多版本或多CD的命名方法： <br/>
命名-vol1.mp4  <br/>
命名-vol2.mp4  <br/>

]]>
</string>
</dict>
</plist>
