<!DOCTYPE html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if (IE 7)&!(IEMobile)]><html class="no-js lt-ie9 lt-ie8" lang="en"><![endif]-->
<!--[if (IE 8)&!(IEMobile)]><html class="no-js lt-ie9" lang="en"><![endif]-->
<!--[if (IE 9)]><html class="no-js ie9" lang="en"><![endif]-->
<!--[if gt IE 8]><!-->
<html lang="en-US">
<!--<![endif]-->

<head>

    <!-- Meta Tags -->
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <title>AdultScraperSE-Serv</title>

    <meta name="description" content="Insert Your Site Description" />

    <!-- Mobile Specifics -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="HandheldFriendly" content="true" />
    <meta name="MobileOptimized" content="320" />

    <!-- Mobile Internet Explorer ClearType Technology -->
    <!--[if IEMobile]>  <meta http-equiv="cleartype" content="on">  <![endif]-->

    <!-- Bootstrap -->
    <link href="{{url_for('static', filename='_include/css/bootstrap.min.css')}}" rel="stylesheet">

    <!-- Main Style -->
    <link href="{{url_for('static', filename='_include/css/main.css')}}" rel="stylesheet">

    <!-- Supersized -->
    <link href="{{url_for('static', filename='_include/css/supersized.css')}}" rel="stylesheet">
    <link href="{{url_for('static', filename='_include/css/supersized.shutter.css')}}" rel="stylesheet">

    <!-- FancyBox -->
    <link href="{{url_for('static', filename='_include/css/fancybox/jquery.fancybox.css')}}" rel="stylesheet">

    <!-- Font Icons -->
    <link href="{{url_for('static', filename='_include/css/fonts.css')}}" rel="stylesheet">

    <!-- Shortcodes -->
    <link href="{{url_for('static', filename='_include/css/shortcodes.css')}}" rel="stylesheet">

    <!-- Responsive -->
    <link href="{{url_for('static', filename='_include/css/bootstrap-responsive.min.css')}}" rel="stylesheet">
    <link href="{{url_for('static', filename='_include/css/responsive.css')}}" rel="stylesheet">

    <!-- Supersized -->
    <link href="{{url_for('static', filename='_include/css/supersized.css')}}" rel="stylesheet">
    <link href="{{url_for('static', filename='_include/css/supersized.shutter.css')}}" rel="stylesheet">

    <!-- Google Font -->
    <link
        href="{{url_for('static', filename='_include/css/css?family=Titillium+Web:400,200,200italic,300,300italic,400italic,600,600italic,700,700italic,900')}}"
        rel='stylesheet' type='text/css'>

    <!-- Fav Icon -->
    <link rel="shortcut icon" href="#">

    <link rel="apple-touch-icon" href="#">
    <link rel="apple-touch-icon" sizes="114x114" href="#">
    <link rel="apple-touch-icon" sizes="72x72" href="#">
    <link rel="apple-touch-icon" sizes="144x144" href="#">

    <!-- Modernizr -->
    <script src="{{url_for('static', filename='modernizr.js')}}"></script>


</head>


<body>
    
    <!-- Header -->
    <header>
        <div class="sticky-nav">
            <a id="mobile-nav" class="menu-nav" href="#menu-nav"></a>

            <div id="logo">
                <a id="goUp" href="#" title="">AdultScraperSE-Serv</a>
            </div>

            <nav id="menu">
                <ul id="menu-nav">
                    <li class="current"><a href="{{ url_for('warning')}}">Warning</a></li>
                </ul>
            </nav>

        </div>
    </header>
    <!-- End Header -->

    <!-- About Section -->
    <div id="about" class="page-alternate">
        <div class="container">
            <!-- Title Page -->
            <div class="row">
                <div class="span12">
                    <div class="title-page">
                        <h2 class="title" style="color:#DE5E60;">Warning-警告-경고</h2>
                        <h3 class="title-description">
                            这是成人媒体信息的爬虫，仅负责抓取媒体信息，如海报，演员，演示文稿，流派和其他信息。                                
                        <p style="color:#DE5E60;">现在或将来都不会实现有效的媒体下载和在线播放</p>
                            這是成人媒體信息的爬蟲，僅負責抓取媒體信息，如海報，演員，演示文稿，流派和其他信息。                        
                            <p style="color:#DE5E60;">現在或將來都不會實現有效的媒體下載和在線播放</p>
                            This is a crawler of adult media information and is only responsible for crawling media information such as posters, actors, presentations, genres and other information.
                            <p style="color:#DE5E60;">Effective media downloads and online playback will not be implemented now or in the future</p>
                            これはアダルトメディア情報のクローラーであり、ポスター、俳優、プレゼンテーション、ジャンル、その他の情報などのメディア情報のクロールのみを担当します。
                            <p style="color:#DE5E60;">効果的なメディアのダウンロードとオンライン再生は、現在または将来実装されません</p>
                            성인 미디어 정보의 크롤러이며 포스터, 배우, 프리젠 테이션, 장르 및 기타 정보와 같은 미디어 정보 만 크롤링합니다.
                            <p style="color:#DE5E60;">효과적인 미디어 다운로드 및 온라인 재생은 현재 또는 미래에 구현되지 않습니다</p>
                        </h3>
                    </div>
                </div>
            </div>
            <!-- End Title Page -->


    <!-- Footer -->
    <footer>
        <p class="credits">&copy;2019 </p>
    </footer>
    <!-- End Footer -->



    <!-- Js -->
    <script src="{{url_for('static', filename='_include/js/jquery.min.js')}}"></script> <!-- jQuery Core -->
    <script src="{{url_for('static', filename='_include/js/bootstrap.min.js')}}"></script> <!-- Bootstrap -->

    <script src="{{url_for('static', filename='_include/js/waypoints.js')}}"></script> <!-- WayPoints -->
    <script src="{{url_for('static', filename='_include/js/waypoints-sticky.js')}}"></script>
    <!-- Waypoints for Header -->
    <script src="{{url_for('static', filename='_include/js/jquery.isotope.js')}}"></script> <!-- Isotope Filter -->
    <script src="{{url_for('static', filename='_include/js/jquery.fancybox.pack.js')}}"></script> <!-- Fancybox -->
    <script src="{{url_for('static', filename='_include/js/jquery.fancybox-media.js')}}"></script>
    <!-- Fancybox for Media -->
    <script src="{{url_for('static', filename='_include/js/jquery.tweet.js')}}"></script> <!-- Tweet -->
    <script src="{{url_for('static', filename='_include/js/plugins.js')}}"></script>
    <!-- Contains: jPreloader, jQuery Easing, jQuery ScrollTo, jQuery One Page Navi -->
    <script src="{{url_for('static',filename='_include/js/main.js')}}"></script> <!-- Default JS -->
    <!-- End Js -->

    </body>

</html>